# Gelato Print-on-Demand API
GELATO_API_KEY=752cffdf-af40-4d1c-956e-549b2ccb4cc9-23da89b9-f488-47de-89c0-c62c3604c893:0c33bf4e-e90a-4303-9592-bfcd77505472

# Set to "true" to send real orders to Gelato (default is draft mode)
# GELATO_LIVE_MODE=true
